<div class="example-container">
  <h2>True</h2>

  <div cdkDropList #trueList="cdkDropList" [cdkDropListData]="aaa"
    class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of aaa" cdkDragLockAxis="y" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Drag these statements to true or false.</h2>

  <div cdkDropList #listList="cdkDropList" [cdkDropListData]="List" [cdkDropListConnectedTo]="[trueList, falseList]"
    class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of List" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="example-container">
    <h2>False</h2>
  
    <div cdkDropList #falseList="cdkDropList" [cdkDropListData]="xxx"
      class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of xxx" cdkDragLockAxis="y" cdkDrag>{{item}}</div>
    </div>
  </div>