<div class="container">
  <div class="row">
    <div class="col-4">
      <h2>True</h2>
    </div>
    <div class="col-4">
      <h2>Drag these statements to true or false.</h2>
    </div>
    <div class="col-4">
      <h2>False</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div cdkDropList [id]="trueList" [cdkDropListData]="aaa" class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of aaa" cdkDrag>{{item.name}}</div>
      </div>
    </div>
    <div class="col-4">
      <div cdkDropList [id]="listList" [cdkDropListData]="List" [cdkDropListConnectedTo]="['trueList','falseList']"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of List" [cdkDragData]="List.id" cdkDrag>{{item.name}}</div>
      </div>
    </div>
    <div class="col-4">
      <div cdkDropList [id]="falseList" [cdkDropListData]="xxx" class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of xxx" cdkDrag>{{item.name}}</div>
      </div>
    </div>
  </div>
</div>
