<div class="row row-btn">
  <div class="col-2 m-auto">
    <a class="nav-btn m-auto" routerLink="/selection" title="Back">
      <svg id="i-chevron-left" viewBox="0 0 32 32" width="60" height="100%" fill="none" stroke="currentcolor"
        stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
        <path d="M20 30 L8 16 20 2"></path>
      </svg>
    </a>
  </div>
  <div class="col-8 m-auto ">
    <div class="container formstyle">
      <h1 translate>{{title}}</h1>
      <br />
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="LicenseNumber" translate>demo.text9</label>
          <input [(ngModel)]="entry.LicenseNumber" type="text" class="form-control" formControlName="LicenseNumber">
          <div *ngIf=" form.controls.LicenseNumber.touched && !form.controls.LicenseNumber.valid"
            class="alert alert-danger" translate>
            demo.validations.val1</div>
        </div>
        <div class="form-group">
          <label for="TrailerNumber" translate>demo.text10</label>
          <input [(ngModel)]="entry.TrailerNumber" type="text" class="form-control" formControlName="TrailerNumber">
          <div *ngIf=" form.controls.TrailerNumber.touched && !form.controls.TrailerNumber.valid"
            class="alert alert-danger" translate>
            demo.validations.val2</div>
        </div>
        <div class="form-group">
          <label for="Name" translate>demo.text11</label>
          <input [(ngModel)]="entry.Name" type="text" class="form-control" formControlName="Name">
          <div *ngIf=" form.controls.Name.touched && !form.controls.Name.valid" class="alert alert-danger" translate>
            demo.validations.val3</div>
        </div>
        <div class="form-group">
          <label for="CompanyName" translate>demo.text12</label>
          <input [(ngModel)]="entry.CompanyName" type="text" class="form-control" formControlName="CompanyName">
          <div *ngIf=" form.controls.CompanyName.touched && !form.controls.CompanyName.valid" class="alert alert-danger"
            translate>
            demo.validations.val4</div>
        </div>

        <div class="form-group">
          <label for="Destination" translate>demo.text13</label>
          <input [(ngModel)]="entry.Destination" type="text" class="form-control" formControlName="TrailerNumber">
          <div *ngIf=" form.controls.Destination.touched && !form.controls.Destination.valid" class="alert alert-danger"
            translate>
            demo.validations.val5</div>
        </div>
        <div class="form-group">
          <label for="DateTime" translate>demo.text14</label>
          <input [(ngModel)]="entry.DateTime" type="text" class="form-control" formControlName="DateTime">
          <div *ngIf=" form.controls.DateTime.touched && !form.controls.DateTime.valid" class="alert alert-danger"
            translate>
            demo.validations.val6</div>
        </div>
        <div class="cdk-droppable">
          <div class="form-group">
            <label for="ordernumber" translate>demo.text15</label>
            <input [(ngModel)]="exit.ordernumber" type="text" class="form-control" formControlName="DateTime">
            <div *ngIf=" form.controls.ordernumber.touched && !form.controls.DateTime.valid" class="alert alert-danger" translate>
              demo.validations.val7</div>
          </div>
        </div>
        <button class="btn btn-primary unibutton" type="submit" translate>{{title}}</button>
      </form>
    </div>
  </div>
  <div class="col-2 m-auto">
    <a class="nav-btn m-auto" aria-disabled title="Next">
      <svg id="i-chevron-right" viewBox="0 0 32 32" width="60" height="100%" fill="none" stroke="currentcolor"
        stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
        <path d="M12 30 L24 16 12 2"></path>
      </svg>
    </a>
  </div>
</div>
