<div class="container">
  <h1>Please Confirm Your Information</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th translate>demo.text9</th>
        <th translate>demo.text10</th>
        <th translate>demo.text11</th>
        <th translate>demo.text12</th>
        <th translate>demo.text13</th>
        <th translate>demo.text14</th>
        <th translate>demo.text15</th>
        <th translate>Exit Code</th>
        <th translate>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exit of exities | async ">
        <td>{{exit.data.LicenseNumber}}</td>
        <td>{{exit.data.TrailerNumber}}</td>
        <td>{{exit.data.Name}}</td>
        <td>{{exit.data.CompanyName}}</td>
        <td>{{exit.data.Destination}}</td>
        <td>{{exit.data.DateTime}}</td>
        <td>{{exit.data.ordernumber}}</td>
        <td>{{exit.data.randomnum}}</td>
        <td>
          <a [routerLink]="['/exit', exit.id]">
            <i class="far fa-edit"></i>
          </a>
        </td>
        <!-- <td>
          <a>
            <i  (click)= "delete (user.id, user.data.name)" class= "glyphicon glyphicon-remove"></i>
          </a>
        </td> -->
      </tr>
    </tbody>

  </table>
  <button (click)="myFunction()">Print me</button>
</div>
