<div class="container">
  <h1 i18n="@@templatesTitle91" >Please Confirm Your Information</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th i18n="@@templatesTitle42">License Number</th>
        <th i18n="@@templatesTitle43">TrailerNumber</th>
        <th i18n="@@templatesTitle44">Name</th>
        <th i18n="@@templatesTitle45">CompanyName</th>
        <th i18n="@@templatesTitle46">Destination</th>
        <th i18n="@@templatesTitle47">DateTime</th>
        <th i18n="@@templatesTitle48" >Order Number</th>
        <th i18n="@@templatesTitle49" >Exit Code</th>
        <th i18n="@@templatesTitle50">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let exit of exities | async ">
        <td>{{exit.data.LicenseNumber}}</td>
        <td >{{exit.data.TrailerNumber}}</td>
        <td>{{exit.data.Name}}</td>
        <td>{{exit.data.CompanyName}}</td>
        <td >{{exit.data.Destination}}</td>
        <td>{{exit.data.DateTime}}</td>
        <td >{{exit.data.ordernumber}}</td>
        <td >{{exit.data.randomnum}}</td>
        <td>
          <a [routerLink] = "['/exit', exit.id]">
            <i class="far fa-edit"></i>
          </a>
        </td>
        <!-- <td>
          <a>
            <i  (click)= "delete (user.id, user.data.name)" class= "glyphicon glyphicon-remove"></i>
          </a>
        </td> -->
      </tr>
    </tbody>

  </table>
  <button i18n="@@templatesTitle51" (click)="myFunction()">Print me</button>  
</div>