nav{
    padding: 10px;
}

img {
  width: 7rem;
}

@media (max-width: 998px) {
  img {
    width: 64px;
  }
}
button{
  background-color: #154f3e;


}
.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle, button:focus, button:hover{

 background-color: #154f3e;
  border-color:#154f3e;
  outline: none;
  box-shadow: none;
}
.dropdown{
  position: relative;
  width: 65%;
  text-align: left;
  margin:0px auto ;
  top: 45px;  
  
}
.dropdown-item{
  color: white;
}
.dropdown-menu{
  background-color: #154f3e;
}
.dropdown-item:hover{
  color: #fff;
  background-color: #154f3e;
}
.navbar-brand{
  float: left;
  margin: 10px 0px 0px 10px;
}


