nav{
    padding: 10px;
}
li{
  margin-left: 20px;
}
img {
  width: 7rem;
}

@media (max-width: 998px) {
  img {
    width: 64px;
  }
}
button{
  background-color: #154f3e;


}
.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle, button:focus, button:hover{

 background-color: #154f3e;
  border-color:#154f3e;
  outline: none;
  box-shadow: none;
}

.navbar-brand{
  float: left;
  margin: 0px 0px 0px 0px;
}
.bg-light {
  background-color: #eee!important;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}
.navbar-nav{
  padding-left: 30px;
}
.navbar-light .navbar-nav .nav-link {
  color: #154f3e;
}
