
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">
      <img src="/assets/images/logo.png" alt="Royal Unibrew Logo"></a>         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      
        <li class="nav-item">
          <a routerLink="/unidoc" class="nav-link"  translate>demo.text17</a>
        </li>
        <li class="nav-item">
          <a routerLink="/quiz" class="nav-link" translate>demo.text18</a>
        </li>
        <li class="nav-item">
          <a routerLink="/ngdrag" class="nav-link"translate>demo.text19</a>
        </li>
        <li class="nav-item">
            <a href="/documentation" class="nav-link"translate>demo.text20</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link"translate>demo.text21</a>
          </li>
      </ul>
    </div>
  </nav>

