h1{
    color: #154f3e;
    text-align: center;
}
p{
    padding: 10px 0px 0px 14px;
    font-size: 14px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 14px;
    bottom: 0;
    right: 14px;
    background-color: rgba(0,38,18,.6);
    z-index: 1;
}
.inner{
    position: absolute;
    text-align: center;
    padding: 30px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
    z-index: 2;
    color: #fff;
    font-size: 38px;
    line-height: 4.3125rem;
    font-family: Melior W01;
    text-shadow: 4px 4px 6px rgba(0,0,0,.25), 2px 2px 1px rgba(0,0,0,.2);
}
.checkit{
    background-color: #154f3e;
    color:#fff;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:20px; 
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}
button{
    background-color: #154f3e;
    color: #fff;
    border: none;
 
}
button:focus {outline:0;}
button:hover{
    color: black;
}
.container{
    width: 70%;
}
