<section >
  <div class="container " id = "form-signin">
    <h2 translate>demo.text21</h2>
  <form [formGroup]="form" (ngSubmit)="login()">
    <div class="form-group">
       <label id="email" for="username">Email</label>
       <input type="text" class="form-control" formControlName="username" placeholder="jondoe@gmail.com">
       <div *ngIf="form.controls.username.touched 
    && !form.controls.username.valid" class="alert alert-danger">
            Email is required
       </div>
    </div>
    <div class="form-group">
    <label id="pass" for="password">Password</label>
    <input type="password" class="form-control" formControlName="password" placeholder="**********">
    <div *ngIf="form.controls.password.touched && form.controls.password.errors">
        <div *ngIf="form.controls.password.errors.invalidLogin" 
  class="alert alert-danger">
            Username or password is invalid.
        </div>                        
        <div *ngIf="form.controls.password.errors.required" 
  class="alert alert-danger">
            Password is required.
        </div>
        <div *ngIf="form.controls.password.errors.cannotContainSpace" 
  class="alert alert-danger">
            Password cannot contain space.
        </div>
      </div>
    <div *ngIf ="invalidLoginMessage" class=" alert alert-danger">
    {{invalidLoginMessage}}  
    </div>     
  </div> 
   
    <button class="btn btn-primary unibutton" type="submit" >Login</button>
  </form>
  </div>
  </section>