<div class="container">
    <h1>Please Confirm Your Information</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>License Number</th>
          <th>TrailerNumber</th>
          <th>Name</th>
          <th>CompanyName</th>
          <th>Destination</th>
          <th>DateTime</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor= "let entry of entries | async ">
          <td>{{entry.data.LicenseNumber}}</td>
          <td>{{entry.data.TrailerNumber}}</td>
          <td>{{entry.data.Name}}</td>
          <td>{{entry.data.CompanyName}}</td>
          <td>{{entry.data.Destination}}</td>
          <td>{{entry.data.DateTime}}</td>
          <td>
            <a [routerLink] = "['/add', entry.id]">
              <i  class= "glyphicon glyphicon-edit"></i>
            </a>
          </td>
          <!-- <td>
            <a>
              <i  (click)= "delete (user.id, user.data.name)" class= "glyphicon glyphicon-remove"></i>
            </a>
          </td> -->
        </tr>
      </tbody>
    </table>
    
    </div>