<div class="container">
    <h1 i18n="@@templatesTitle91" >Please Confirm Your Information</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th i18n="@@templatesTitle4" >License Number</th>
          <th i18n="@@templatesTitle5" >TrailerNumber</th>
          <th i18n="@@templatesTitle6">Name</th>
          <th i18n="@@templatesTitle7" >CompanyName</th>
          <th i18n="@@templatesTitle8" >Destination</th>
          <th i18n="@@templatesTitle9" >DateTime</th>
          <th i18n="@@templatesTitle10">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor= "let entry of entries | async ">
          <td >{{entry.data.LicenseNumber}}</td>
          <td >{{entry.data.TrailerNumber}}</td>
          <td>{{entry.data.Name}}</td>
          <td>{{entry.data.CompanyName}}</td>
          <td >{{entry.data.Destination}}</td>
          <td >{{entry.data.DateTime}}</td>
          <td>
            <a [routerLink] = "['/entry', entry.id]">
              <i class="far fa-edit"></i>
            </a>
          </td>
          <!-- <td>
            <a>
              <i  (click)= "delete (user.id, user.data.name)" class= "glyphicon glyphicon-remove"></i>
            </a>
          </td> -->
        </tr>
      </tbody>
    </table>
    <button i18n="@@templatesTitle11" (click)="myFunction()">Print me</button>  
    </div>