<div class="container-fluid">

  <div><svg id="i-chevron-left" viewBox="0 0 32 32" width="60" height="100%" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
      <path d="M20 30 L8 16 20 2" />
  </svg></div>
  
  <div><svg id="i-chevron-right" viewBox="0 0 32 32" width="60" height="100%" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
      <path d="M12 30 L24 16 12 2" />
  </svg>
  </div>
  </div>