
input {
    padding: 15px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

    input.invalid {
        background-color: #ffeeee;
    }

        input.invalid:focus {
            background-color: #fff;
        }
 .btn-defult{
     margin-top: 5%;
     width:15%;
     background-color: #337ab7;
     border-color: #2e6da4; 
 }